<%
    		var self = "projectdetail";
    		var pagetitle ="";
    		pagetitle = global.helpers.getGICValue(self+"_title");
    %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= pagetitle%></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>